.logo {
    color: #000000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    &__web {
    color: $accent-color;
}
}

.footer__logo {

font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $white-text-color;

   @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 1.19;
   }
   
}