.client {
    @include gap (flex, 30px);
    }

.client__item {
    width: 170px;
    height: 92px;
    }
    
.client__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #afb1b8;
    border-radius: 4%;
    color: #afb1b8;
    
    transition: color $transition, border-color $transition;


    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
        }
    }

.client__icon {
    fill: currentColor;
   }




