.feature {
    display: flex;
}

.feature__item:not(:first-child) {
    margin-left: 30px;
}
.feature__box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    height: 120px;
}
    
.feature__text {
    width: 270px;
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

   
