.header {
    border-bottom: 1px solid #ececec;
    background-color: $white-text-color;
    height: 80px;
}

.header__container {
    display: flex;
    height: 80px;
    padding-top: 32px;
    padding-bottom: 32px;
    align-items: center;
}