.hero {
    padding: 118px 0;
    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_mob_@1x.webp);
    background-color: $footer-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;


    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {

    background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/hero/hero_mob_@2x.webp);
    }


    @media screen and (min-width: 481px){

        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_tab_@1x.webp);
        }

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
        
            background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                        url(../images/hero/hero_tab_@2x.webp);
                }

    @media screen and (min-width: 769px) {
    
        background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_desk_@1x.webp);
        }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
    
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/hero/hero_desk_@2x.webp);
        }
   

    @media screen and (min-width: 1200px){
        max-width: 1600px;
        height: 600px;
        padding: 200px 0;
    }

}


.hero__title {

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-text-color;
    margin: auto;
    margin-bottom: 30px;

    
    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
    
}
